<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilo.css">
        <link rel="stylesheet" href="/css/detalleObra.css">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="icon" href="/imagenes/IMGL5368.jpeg">
        <title>Manuel Siguenza</title>
</head>
<%- include("../partials/header") %>
<body>
    <article>
        <img src="imagenes/bio.jpeg" alt="foto-del-artista" width="280px" height="350px"> <br>
        <div class="detalle-obra">
            <h2 class="titulo-obra">CV</h2>
        <p class="descripcion-obra">
            Manuel Sigüenza estudió Cerámica Artística en la Escuela de Cerámica de la Ciudad de Buenos Aires. <br>
             Asistió a varios talleres, y clínicas. Entre ellos, a los encuentros de análisis de obra organizados por Valeria Maculan y Silvia Gurfein y a la Clínica a cargo de Tulio de Sagastizabal. <br>
             En el 2012 participó de la Beca para artistas del Fondo Nacional de las Artes - Centro Cultural de la Memoria Haroldo Conti. <br>
             En el año 2014 participa del Programa de Artistas de la Universidad Torcuato Di Tella.
        </p>
       
        </div>
    </article>
</body>
<%- include("../partials/footer") %>
</html>