<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilo.css">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="icon" href="/imagenes/IMGL5368.jpeg">
        <title>Manuel Siguenza</title>
    </head>

    <%- include("../partials/header") %>
<body>
    

    <div class="contenedorObras">
        <% if(locals.obras) {%>
        <% obras.forEach( obra => { %> 
              
    <div class="obra">
        <a href="/detalleObra/<%=obra.id%>">
            <img src="<%= obra.imagen %>" alt="">
        </a>
    </div>
    <% }) %>
    <% } %>
   </div>

</body>
<%- include("../partials/footer") %>
</html>