<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilo.css">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="icon" href="/imagenes/IMGL5368.jpeg">
        <title>Manuel Siguenza</title>
    </head>
</head>
<body>
    <a href="/muestras"><h1 class="titulo"> Obras </h1></a> 
    <a href="/bio"><h1 class="titulo"> CV </h1></a>
    <a href=""><h1 class="titulo"> Textos </h1></a>
    <a href="/"><h1 class="titulo"> Shop </h1></a> 
    <br>
    <a href="/users/registro"><h1 class="titulo"> Registro </h1></a>
    <a href="/users/login"><h1 class="titulo"> Login </h1></a>
    <a href="/users/profile"><h1 class="titulo"> Perfil </h1></a> 
    <br>
    <a href="mailto:supernoli@gmail.com"><h1 class="titulo"> Contacto </h1></a>
    
</body>
</html>