
img {
    margin-top: 170px;
}
.imagenMuestra{
    margin-top: 5px;
}
.titulo-obra {
    color:rgba(18, 18, 47,0.8);
    font-size: 25px;
}
.titulo-muestra {
    color:rgba(18, 18, 47,0.8);
    font-size: 25px;
    margin-top: 180px;
}
.precio-obra {
    color: rgba(18, 18, 47, 0.6);
    font-size: 20px;
}
.descripcion-obra {
    color: rgba(18, 18, 47,0.3);
    font-size: 18px;
    max-width: 550px;
}
.descripcion-muestra {
    color: rgba(15, 15, 36, 0.3);
    font-size: 18px;
    margin-bottom: 5px;
}
.contenedorDetalleMuestras {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px );
    margin-top: 10px;
} 
.boton-comprar {
    background-color: rgba(18, 18, 47,0.1) ;
    color:rgba(18, 18, 47,0.6); 
    height: 50px;
    border: 1px solid rgba(18, 18, 47,0.4);
    border-radius: 3px;
    box-shadow: 10px 10px 30px rgba(18, 18, 47,0.2); 
    margin-top: 6px;
    margin-left: 20px;
    transition: all 2s;
}
.comprar {
    background-color: transparent;
    line-height: 0px;
    font-size: 15px;
    transition: all 3s;
}
.precio-boton{
    display: flex;
    justify-content:start;
    ;
}


@media (min-width: 760px){
    img { max-width: 370px;
    margin-top: 270px;
    }
    article{
        display: flex;
       
    }
    .detalle-obra {
        margin-top: 250px;
        margin-left: 18px;
    }
    .boton-comprar:hover {
        background-color: #fafafa ;
        box-shadow: 20px 20px 80px rgba(18, 18, 47,0.4);
        border-radius: 9px;
    }
    .titulo-muestra {
        color:rgba(18, 18, 47,0.8);
        font-size: 25px;
        margin-top: 280px;
    }
    .descrpcion-muestra {
        color: rgba(18, 18, 47,0.3);
        font-size: 18px;
        margin-bottom: 5px;
    }
    .contenedorDetalleMuestras {
        display: grid;
        grid-template-columns: repeat(auto-fill, 680px );
        margin-top: 10px;
    } 
    

}


