<footer>
    <div class="redes"><a href="https://www.instagram.com/manuelsigu/" target="_blank">Instagram</a> </div>
    <div class="contacto"><a href="mailto:supernoli@gmail.com">Contacto</a></div>
</footer>