<header class="mobile-compu">
    <header class="mobile">
       <div class="titulo"><h1>MANUEL SIGÜENZA</h1></div> 
        <div class="hamburguesa">
            <a href="/menuMobile">
                 <i class="fa-solid fa-bars"></i>
            </a>
           
            </div>
    </header>
    
    <header class="compu" >
        <div class="titulo">
            <h1>MANUEL SIGÜENZA</h1>
        </div>
        <nav>
            <ul>
                <li><a class="nav" href="">Obras</a> </li>
                <li><a class="nav" href="/bio">Bio</a></li>
                <li><a class="nav" href="">Textos</a></li>
                <li><a class="nav" href="">Contacto</a></li>
            </ul>
        </nav>
    </header>
</header>

