<header class="mobile-compu">
    <header class="mobile">
       <div class="titulo"><h1>MANUEL SIGÜENZA</h1></div> 
        <div class="hamburguesa">
            <a href="/menuMobile">
                 <i class="fa-solid fa-bars"></i>
            </a>
           
            </div>
    </header>
    
    <header class="compu" >
        <div class="titulo">
            <h1>MANUEL SIGÜENZA</h1>
        </div>
        <nav>
            <ul>
                <li><a class="nav" href="/muestras">Obras</a> </li>
                <li><a class="nav" href="/bio">CV</a></li>
                <li><a class="nav" href="">Textos</a></li>
                <li><a class="nav" href="/">Shop</a> </li>
                <li><a class="nav" href="mailto:supernoli@gmail.com">Contacto</a></li>
            </ul>
            <div class="users">
                <% if(locals.isLogged) { %>
                <div class="perfil">
                    <h1 class="nombreUsuario">Hola <%= userLogged.nombreCompleto%>  </h1>
                    <p class="paisUsuario">de <%=userLogged.pais%>   </p><div class="login">
                        <div class="perfilLink">
                            <a href="/users/profile">
                                <i class="fa-solid fa-user"> Perfil</i>
                            </a>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div class="login">
                    <a href="/users/login">
                        <i class="fa-solid fa-user"> Login</i>
                    </a>
                </div>
                <div class="registro">
                    <a href="/users/registro">
                        <i class="fa-regular fa-user"> Registro</i>
                    </a>
                </div>
                <% } %>
            </div>
         </nav>
    </header>
</header>

