<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/formulario.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/imagenes/IMGL5368.jpeg">
    <title>Manuel Siguenza</title>
</head>
<%- include("../partials/header") %>
<br>
<body>
    <form action="" method="" enctype="mutipart/form-data"> 
        <h1 class="titulo">Perfil</h1>
        <br>
        <label for="nombre">Nombre completo:</label>
        <input type="text" placeholder="Nombre completo" name="nombreCompleto"
        value="">
        <br>
        <br>
        <label for="email">Email:</label>
        <input type="email" placeholder="e-mail" id="email" name="email"
        value="">
        <br>
        <br>
        <label for="contraseña">Contraseña:</label>
        <input type="password" placeholder="Contraseña" id="password" name="password">
        <br>
        <br>
        <label for="pais">País:</label>
        <select name="pais"</select> >
            
        </select>
        <br>
        <br>
          
    
    
</body>
<br>

<%- include("../partials/footer") %>
</html>